<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespaceはMapperインターフェースの完全クラス名を指定します。-->
<!--このxmlファイルは、resourcesの中にMapperインターフェースと同じ配置で置きます-->
<mapper namespace="com.example.BootSample.mapper.UserInfoMapper">
    <!--検索-->
    <select id="selectById"
            resultType="com.example.BootSample.entity.UserInfoEntity">
        SELECT ID, USER_NAME, PASSWORD
        FROM USER_INFO WHERE ID = #{id};
    </select>
</mapper>