<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: head('変更')}">
    <meta charset="UTF-8">
    <title>トップ</title>
</head>
<body>
<header th:replace="~{common :: header('変更')}"></header>
<main>
    <p th:if="${hasNoStudent}">ID：<span th:text="${id}"></span>の生徒はいません</p>
    <p th:if="${hasError}" class="error">変更に失敗しました。</p>
    <p><a th:href="@{../search}">検索へ戻る</a></p>
    <form th:action="@{update}" method="post" th:if="${updateForm != null}" th:object="${updateForm}">
        <table>
            <tr>
                <th>ID</th>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <th>氏名</th>
                <td><input type="text" th:field="*{name}" th:errorClass="error-item">
                    <span th:errors="*{name}" class="error"></span>
                </td>
            </tr>
            <tr>
                <th>出身地</th>
                <td>
                    <select th:field="*{prefecture}" th:errorClass="error-item">
                        <option th:each="entry : ${prefectureMap}"
                                th:value="${entry.value}"
                                th:text="${entry.value.description}">
                        </option>
                    </select>
                    <span th:errors="*{prefecture}" class="error"></span>
                </td>
            </tr>
            <tr>
                <th>性別</th>
                <td>
                    <label th:each="resultType : ${genderMap}">
                        <input type="radio" th:field="*{gender}" th:value="${resultType.value}"
                               th:text="${resultType.value.description}">
                    </label>
                    <span th:errors="*{gender}" class="error"></span>
                </td>
            </tr>
        </table>
        <button>変更</button>
    </form>
</main>
<footer th:replace="~{common :: footer}"></footer>
</body>
</html>